h1 {
  color: blue;
}

.input-lg {
  margin: 5px;
}

.btn-primary {
  margin: 5px;
}


.high {
  color: red;
}

.medium {
  color: orange;
}

.low {
  color: green;
}

.beer-icons {
  width: 25px;
  height: auto;
  margin-left: 3px;
}

.container {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.barSide {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.inventorySide {
  position: absolute;
  left: 7000px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: auto;
  margin: auto;
}

.kegListItem:hover {
  cursor: pointer;
}

html{
  background: url("./../../resources/images/bw_bar.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  color: white;
  font-size: 16px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  color: white;
}

.beer-icons {
  -webkit-filter: invert(1);
 filter: invert(1);
}

#logo img {
  -webkit-filter: invert(0);
 filter: invert(0);
}
